<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSE 341</title>

    <style>
      * {
        box-sizing: border-box;
      }

      body {
        background-color: #8095db;
        font-family: Helvetica, Arial, sans-serif;
        margin: 0;
      }

      .content {
        max-width: 600px;
        background-color: #fff;
        padding: 2rem;
        margin: 3rem auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        border-radius: 5px;
        box-shadow: 0 2px 4px #00000033;
      }

      header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        width: 100%;
      }

      h1 {
        margin: 0;
        font-size: 1.7rem;
      }

      h2 {
        margin: 0;
        font-size: 1.3rem;
      }
      p {
        margin: 0;
      }

      label {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
      }

      a {
        color: #2b4ab3;
        font-weight: bold;
      }

      a:hover,
      a:focus-visible {
        text-decoration: none;
      }

      button {
        font-weight: bold;
        font-family: inherit;
        border: 0;
        border-radius: 5px;
        background-color: #2b4ab3;
        color: #fff;
        padding: 0.2rem 0.5rem;
        cursor: pointer;
      }

      button:hover,
      button:focus-visible {
        opacity: 0.8;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <header>
        <% if(accessToken) { %>
        <h1>Logged in</h1>
        <a href="/logout">Logout</a>
        <% } else { %>
        <h1>Logged out</h1>
        <a href="/login">Login</a>
        <% } %>
      </header>

      <label>
        <strong>Access Token</strong>
        <div>
          <input
            type="text"
            id="accessToken"
            value="<%= accessToken %>"
            readonly
          />
          <button id="copyButton">Copy</button>
        </div>
      </label>

      <h2>Testing the API</h2>
      <p>
        After logging in, copy the Access Token above and open up the
        <a href="/graphql">Apollo Studio</a>. Open up the
        <strong>Headers</strong> tab at the bottom of the page, add an
        <strong>Authorization</strong> header, and paste the Access Token into
        the field. You should then be able to use the API!
      </p>
    </div>

    <script>
      const copyButton = document.getElementById('copyButton')
      const accessToken = document.getElementById('accessToken')

      copyButton.addEventListener('click', () => {
        navigator.clipboard.writeText(accessToken.value)
        copyButton.innerText = 'Copied!'
      })
    </script>
  </body>
</html>
